* {
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #FFC300;
    border-radius: 10px;
  }
