@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn-yellow{
        @apply bg-yellow text-white rounded-full px-4 py-2 font-hind font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110;
    }

    .btn-dark{
        @apply z-40 bg-dark border-2 border-light text-white rounded-full px-4 py-2 font-hind font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110;
    }

    .btn-green{
        @apply z-40 bg-dark border-2 border-light text-white rounded-full px-4 py-2 font-hind font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-green-400;
    }

}

.card__room__landing {
    filter: drop-shadow(10px 0 20px black);
    min-height: 25rem;
    width: 21rem;
}

.card__room__landing:hover {
    filter: drop-shadow(0 0 2px black);
}

.card__room__landing__img {
    width: 24rem;
    height: 16rem;
}

@media (max-width: 450px){
    .card__room__landing {
        width: auto;
    }
}

.card__animate {
    filter: drop-shadow(10px 0 20px black);
}

.card__animate:hover {
    filter: drop-shadow(0 0 2px black);
}
